 body {
    font-family: serif;
 }
 .productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-img {
     width: 100px;
     height: 100px;
  }

  .cart-img {
    width: 60px;
    height: 60px;
    margin: 10px;
  }

  section {
    display: flex;
  }

  @media (max-width: 768px) {
    section {
        flex-direction: column;
    }

  }
  

  .cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    background-color: aliceblue;
  }
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
  }

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.addToCartButton {
    color: white;
    margin: 15px;
    background-color: rgb(6, 155, 6);
    height: 30px;
    border-radius: 5px;
  }
  .addToCartButton:hover {
    background-color: rgb(8, 248, 8);
    cursor: pointer;
  }

  .incrementProduct, .decrementProduct {
    color: white;
    background-color: rgb(23, 23, 228);
    height: 25px;
    width: 25px;
  }
  .incrementProduct:hover, .decrementProduct:hover {
    background-color: rgb(117, 174, 248);
    cursor: pointer;
  }
  #clearCart{
    color: white;
    background-color: rgb(255, 0, 0);
    margin-bottom: 15px;
    margin-right: 15px;
    height: 30px;
    border-radius: 5px;
  }
  #clearCart:hover {
    background-color: rgb(247, 80, 80);
    cursor: pointer;
  }
  #printReceipt {
    color: white;
    background-color: rgb(6, 155, 6);
    height: 30px;
    border-radius: 5px;
  }
  #printReceipt:hover {
    background-color: rgb(8, 248, 8);
    cursor: pointer;
  }
  .cart-button {
    display: flex;
    justify-content: center;
    width: 100%;  
}


