body {
    font-family: serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar-container a img{
    width: 150px;
}

.navbar nav a {
    text-decoration: none;
    margin-left: 20px;
}

.navbar nav a:hover {
    text-decoration: underline;
}

.red-bold {
    color: #DE3F1C;
    font-weight: bold;
}
  
  .section-title {
    font-weight: bold;
    margin: 50px 0px 20px 0px;
  }
  
  .view-all-link {
    color: red;
    text-decoration: none;
  }

  @media (min-width: 750px) {
    .instructors-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
      }
    
    .instructor {
        flex: 0 0 calc(50% - 30px);
        display: flex;
        margin: 10px;
        align-items: center;
    }
  }

  .instructor {
    padding: 10px;
  }
  
  .instructor img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .instructor-name {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .instructor-description {
    font-size: 14px;
    color: #666;
  }
  

  footer {
    background-color:white;
    color: gray;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 960px;
    margin: 50px auto auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    flex: 1;
    text-align: left;
    margin-left: 20px;
  }
  
  .right-content {
    flex: 1;
    text-align: right;
  }
  
  .right-content a {
    color: gray;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
  }
  
  .right-content a:hover {
    text-decoration: underline;
  }
  
 